
html, body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}








#mainContent {
    position: fixed;
    float:  right;
    right:  0;
    top:  0;

    width:  calc(100vw - 270px);
    height: 100vh;
}
    #mainContent .header {
        position: absolute;
        width:  calc(100% - 10px * 2);
        height: 30px;

        padding:  10px;
        z-index: 100;
        pointer-events: none;
    }

    #mainContent .header .titleHolder {
        position: absolute;
        top: 0;
        left: 0;
        
        width:  calc(100% - 120px);
        height: 30px;
        
        padding: 10px;
        border: none;
        background: none;

        color:  #eee;
        font-size: 20px;
        line-height: 30px;
        pointer-events: all;
    }

    #mainContent .header .packageButton {
        float:  right;
        width:  auto;
        pointer-events: all;
    }
    


    #worldCanvas {
       position: absolute;
       top: 0;
       left: 0;
       width:  100%;
       height: 100%;
    }






#sideBar {
    position: fixed;
    left:  0;
    top:  0;
    width: calc(270px - 10px);
    height: calc(100vh - 20px);

    padding:  10px;
    padding-right: 0;
    
    background: #333;
}




#sideBar #componentHolder {
    position: relative;
    width:  100%;
    height: auto;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}
#componentHolder .component {
    position: relative;
    width:  100%;
    height: 50px;
    margin-bottom: 10px;
}
#componentHolder .component .titleHolder {
    position: absolute;
    float:  left;
    top:  0;
    margin-left: 10px;
    width:  calc(100% - 32px);
    height: 20px;

    padding:  5px 0;
    color: #eee;
}
#componentHolder .component .text.subText {
    position: absolute;
    top:  25px;
    float:  left;
    margin-left: 10px;
    width:  calc(100% - 32px);

    font-size: 12px;
}


#componentHolder .component .optionIcon {
    position: relative;
    float:  right;
    right:  0;
    top:  0;

    width: auto;
    height: 20px;
    padding:  5px 10px;
    /*padding-right: 20px;*/
}




















.button {
    position: relative;
    width: auto;
    padding: 7px 15px !important;

    border-radius: 30px;
    font-size: 13px;

    overflow: hidden;
    cursor: pointer;
}
    .button.bBoxy {
        border-radius: 4px; 
    }

    .button.bDefault {
        /*background: #7592BF !important;*/
        background: rgb(140, 153, 247);
        color: #fff !important;
    }

    .button.bWarn {
        background: #ff632c !important;
        color: #fff !important;
    }

    .button img {
        position: relative;
        top: 3px;
        margin-left: -5px;
        margin-right: 3px;

        width: 16px;
        height: auto;
    }












.clickable {cursor: pointer;}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}






.inputField {
    position: relative;
    left: 0;
    padding: 7px 3px;
    height: 32px;
    border-radius: 3px;
    background: transparent;

    border: 1px solid #bbb;
    outline: none;

    color: #555;
}






.text {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #777;
    font-size: 15px;
}